.heading{
    color: brown;
    background-color: darkgray;
    text-align: center;
}
.list{
    width: 100%;
    height: 60px;
    background-color: rgb(241, 238, 238);
    color: chocolate;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 80px; */
    justify-content: center;
}
